<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI>
      <!-- Inserted between InstallDirDlg and VerifyReadyDlg. -->
      <Dialog Id="OptionsDlg" Width="370" Height="270" Title="!(loc.OptionsDlgWindowTitle)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes"
                 Text="{\WixUI_Font_Title}!(loc.OptionsDlgBannerTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes"
                 Text="!(loc.OptionsDlgDescription)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="373" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="373" Height="0" />

        <Control Id="StartupCheck" Type="CheckBox" X="20" Y="80" Width="330" Height="40"
                 Property="START_WITH_WINDOWS" CheckBoxValue="1"
                 Text="!(loc.OptionsDlgStartupCheck)" />
        <Control Id="StartupHint" Type="Text" X="35" Y="125" Width="310" Height="50" NoPrefix="yes"
                 Text="!(loc.OptionsDlgStartupHint)" />

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="InstallDirDlg" />
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
